.fade-enter-active[data-v-1d401828],.fade-leave-active[data-v-1d401828]{transition:opacity .15s ease,transform .15s ease}.fade-enter-from[data-v-1d401828],.fade-leave-to[data-v-1d401828]{opacity:0;transform:translateY(-5px)}
